<h1>List of Available Tasks</h1>
<ul class="">
  <% @tasks.each do |task|%>
    <li>
      <h3><strong><%= link_to task.title, task_path(task) %></strong></h3>
    </li>
    <%end%>
</ul>

<%= link_to 'create new task', new_task_path %>
