<h1>List of Available Tasks</h1>
<ul class="">
  <% @tasks.each do |task|%>
    <li>
      <p>
        <h3><strong><%= task.title %></strong></h3>
        <p><em><%= task.description %></em></p>
      </p>
      <%= link_to 'Edit task', edit_task_path(task)%>
    </li>
    <%end%>
</ul>

<%= link_to 'create new task', new_task_path %>
